/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700;800;900&display=swap');

:root{
    --gameboy-grey: #C6C1C1;
    --outter-screen: #5A575E;
    --inner-screen: #3C5A14;
    --dpad: ;
    --dpad-inset: ;
    --a-b-btn: #980E48;
    --select-start-btn: #5A575E;
    --speaker-holes: ;
    --gameboy-ink: #322F88;
}