body {
  background-image: url("https://hips.hearstapps.com/digitalspyuk.cdnds.net/12/48/gaming-super-mario-bros-3.jpg?resize=980:*");
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.leaderboard {
  background-color: #333;
  border: 2px solid #555;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  margin-bottom: 12vh;
}

.header {
  background-color: #222;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #555;
}

.entry {
  padding: 10px;
  border-bottom: 1px solid #555;
  display: flex;
  justify-content: space-between;
}

.rank {
  font-size: 18px;
}

.name {
  flex-grow: 1;
  text-align: left;
}

.score {
  font-weight: bold;
  font-size: 16px;
}
