#root-container {
  margin: 100px auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(197, 197, 197);
  height: 90vh;
  min-height: 700px;
  width: 100vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 30px;
  box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.63);
  border: 2px solid rgb(56, 56, 56);
}

#root {
  background-color: grey;
  border-radius: 20px;
  height: 65%;
  border: 2px solid rgb(231, 231, 231);
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectedAnswer {
  background-color: green;
}

#controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  position: relative;
}

.dpad {
  position: relative;
  top: 20%;
  right: 40px;
}

.dpad i {
  position: absolute;
}

.fa-square-caret-up {
  color: #000;
  font-size: 3rem;
  left: 75px;
  bottom: 100px;
}

.fa-square-caret-down {
  color: #000;
  font-size: 3rem;
  left: 75px;
  bottom: 5px;
}

.fa-square-caret-right {
  color: #000;
  font-size: 3rem;
  left: 120px;
  bottom: 50px;
}

.fa-square-caret-left {
  color: #000;
  font-size: 3rem;
  left: 30px;
  bottom: 50px;
}

.start-select-btns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
  left: 40px;
  top: 50px;
}

.start-wrapper,
.select-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  rotate: 320deg;
  color: #5a575e;
}

.start-btn,
.select-btn {
  height: 15px;
  width: 50px;
  background-color: rgb(40, 43, 75);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.69);
}

.start,
.select {
  font-weight: 600;
}

.select-btn {
  font-size: 1.8rem;
  color: #5a575e;
}

.a-b-btns {
  position: relative;
  right: 2vw;
}

.a-btn-wrapper,
.b-btn-wrapper {
  rotate: -25deg;
}

.a-btn-wrapper {
  position: relative;
  left: 10px;
}

.b-btn-wrapper {
  position: relative;
  right: 10px;
}

#a-btn,
#b-btn {
  background-color: #9b104a;
  border: 1px solid #6d0d35;
  width: 50px;
  height: 50px;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.69);
}

#a-txt,
#b-txt {
  color: #5a575e;
  font-size: 1.8rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  #root-container {
    margin: 0;
  }

  .start-select-btns {
    flex-direction: column;
    gap: 30px;
    top: 30px;
  }
}
