#root-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(197, 197, 197);
}

#root {
  background-color: grey;
  border-radius: 20px;
  padding: 20px;
}

.selectedAnswer {
  background-color: green;
}

#controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dpad {
  width: 80px;
  height: 80px;
}
