#root-container {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(197, 197, 197);
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#root {
  background-color: grey;
  border-radius: 20px;
  padding: 20px;
  height: 60%;
}

.selectedAnswer {
  background-color: green;
}

#controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
}

.dpad {
  width: 80px;
  height: 80px;
  position: relative;
}

.start-select-btns {
  width: 80px;
  height: 80px;
}

.a-b-btns div {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 2rem;
}

#a-btn,
#b-btn {
  background-color: tomato;
  position: relative;
}

#a-btn {
  right: 20px;
}

.start-page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.lb-btn-container {
  margin-right: auto;
  padding: 20px;
}

.title-container {
}

.start-container {
}
